.App {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 14px;
}
.navbar {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.navbar a:not(h5) {
	text-decoration: none;
}

/* shipments timeline view */
content .shipments-timeline {
	display: flex;
	flex-flow: row wrap;
}
.timeline {
	flex: 2;
}

/* shipmentlist table  */
.shipmentlist-table {
	flex: 3;
	border-collapse: separate;
	border-spacing: 0 10px;
	height: 600px;
	overflow: scroll;
}

.shipmentlist-table th {
	padding: 0px 20px;
}

.shipmentlist-table td {
	padding: 20px 0;
}
.shipmentlist-table th,
.shipmentlist-table td {
	border-top: 1px solid rgb(144, 144, 144);
	border-bottom: 1px solid rgb(144, 144, 144);
}
.shipmentlist-table td:first-child {
	border-left: 1px solid rgb(144, 144, 144);
}
.shipmentlist-table td:last-child {
	border-right: 1px solid rgb(144, 144, 144);
}
